@model IEnumerable<Kwiatostan.Models.CartItem>

@{
    ViewData["Title"] = "Koszyk";
}

<h2>Zawartość koszyka</h2>

<table class="table fs-4" style="border: 3px solid black; background-color:#e0e0e0">
    <thead>
        <tr>
            <th>
                Produkt
            </th>
            <th>
                Cena
            </th>
            <th>
                Ilość
            </th>
            <th>
                Usuń
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-flex gap-2">
                    @if (item.Product.ImageFilename != null)
                    {
                        <div class="d-flex justify-content-center align-items-center" style="width: 150px; height: 120px; overflow: hidden;">
                            <img style="object-fit: contain; max-height: 100%;" class="card-img-top" src="~/images/@item.Product.ImageFilename" alt="Image">
                        </div>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center align-items-center" style="width: 150px; height: 120px; overflow: hidden;">
                            <img style="object-fit: contain; max-height: 100%;" class="card-img-top" src="~/images/no_image.jpg" alt="No Image">
                        </div>
                    }
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <form method="post" asp-action="DeleteProductFromCart" asp-route-productId="@item.ProductId">
                        <button type="submit" class="fs-3 btn btn-danger">X</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
